    <meta charset="utf-8">
    <%
        var title = page.title;
        if (is_archive()) {
            title = __('index.archive');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = __('index.category') + ': ' + page.category;
        } else if (is_tag()) {
            title = __('index.tag') + ': ' + page.tag;
        }
    %>
    <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="index,follow">
    <% if(!is_post()) { %>
        <meta name="description" content="호기심 많고 삽질을 몸에 달고 사는 개발자 지망생이 끄적대는 공간">
        <meta name="keywords" content="개발, 개발자, 프론트, 백, 자바스크립트, 자바, 리액트, 웹팩, 바벨, ES2015, ES6, 크롤러, 자알쓰, Node.js">
    <% } %>

    <%- autoCanonical(config, page) %>
    <%- open_graph({
        image:          thumbnail(page),
        fb_app_id:      theme.miscellaneous.open_graph.fb_app_id,
        fb_admins:      theme.miscellaneous.open_graph.fb_admins,
        twitter_id:     theme.miscellaneous.open_graph.twitter_id
    }) %>
    <% if(!is_post()) { %>
        <meta property="og:description" content="호기심 많고 삽질을 몸에 달고 사는 개발자 지망생이 끄적대는 공간">
        <meta property="og:image" content="http://perfectacle.github.io/css/images/logo.png">
        <meta name="twitter:description" content="호기심 많고 삽질을 몸에 달고 사는 개발자 지망생이 끄적대는 공간">
        <meta name="twitter:image" content="http://perfectacle.github.io/css/images/logo.png">
    <% } %>
    <%- meta(page) %>

    <% if (theme.customize && theme.customize.social_links && theme.customize.social_links.rss) { %>
        <link rel="alternate" href="<%- theme.customize.social_links.rss %>" title="<%= config.title %>" type="application/atom+xml" />
    <% } %>

    <% if (theme.customize.favicon) { %>
        <link rel="icon" href="<%- url_for(theme.customize.favicon) %>" />
    <% } %>

    <%- css('libs/font-awesome/css/font-awesome.min') %>
    <%- css('libs/titillium-web/styles') %>
    <%- css('libs/source-code-pro/styles') %>

    <%- css('css/style') %>

    <%- js('libs/jquery/2.0.3/jquery.min') %>
    <%- partial('plugin/scripts', { isHead: true }) %>
    <script src="/js/analytics.js"></script>
